SPRING_PROFILES_ACTIVE=local

DB_URL=jdbc:postgresql://localhost:5433/blt
DB_USERNAME=blt
DB_PASSWORD=bltscret

POSTGRES_PORT=5433
POSTGRES_DB=blt
POSTGRES_USER=blt
POSTGRES_PASSWORD=bltscret

SERVER_PORT=8080
